.form {
  display: flex;
  float: left;
  padding: 30px;
  margin: 1%;
  padding-top: 200px;
  padding-left: 150px;
}

h1{
  color: white;
  text-align: center;
  font-size: 32px;
  padding-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px;
  border-radius: 8px;
  max-width: 60%;
  width: 900px;
  height: 380px;
  background-color: #252b5c88;
}

form > ::placeholder {
  padding: 5px;
}

input {
  padding: 5px;
  margin: 8px;
  border-radius: 5px;
  font-size: 5px;
  height: 360px;
}

button {
  padding: 5px;
  margin: 8px;
  font-size: 18px;
  background-color: #90adc6;
  color: rgb(27, 27, 27);
  border-radius: 5px;
  height: 350px;
}

button:hover {
  background-color: #5e93c2;
  text-decoration: solid;

}

form > a {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: white;
}

form > a:hover {
  color: #5e93c2;
  text-decoration: underline;
}

.img {
  display: flex;
  float: right;
  padding: 30px;
  margin: 1%;
  padding-top: 200px;
  padding-right: 200px;
}