.container {
  max-height: 95vh;
  max-width: 95vw;
}

.foto {
  display: flex;
  float: left;
  padding: 10px;
  margin: 10px;
}

.sair {
  background-color: yellow;
  display: flex;
  float: left;
  padding: 5px;
  margin: 30px;
  
}

.botao {
  display: flex;
  flex-wrap: wrap;
}

.botao button {
  width: 48%; 
  margin: 1%;
}
