.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

h1{
  color: white;
  text-align: center;
  font-size: 32px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px;
  border-radius: 8px;
  max-width: 50%;
  width: 400px;
  background-color: #252b5c88;
}

form > ::placeholder {
  padding: 5px;
}

input {
  border-radius: 5px;
  font-size: 18px;
}

button {
  font-size: 18px;
  background-color: #90adc6;
  color: rgb(27, 27, 27);
  border-radius: 5px;
  
}

button:hover {
  background-color: #5e93c2;
  text-decoration: solid;

}

form > a {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: white;
}

form > a:hover {
  color: #5e93c2;
  text-decoration: underline;
}